<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Promedio estudiantes</title>
</head>

<body>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h1>{{titulo}}</h1>
                </div>
                <div class="col-sm-8">
                    <img src="img/banner.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Menú</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home </a>
            </li>
            {{#unless ex}}
            <li class="nav-item">
                <a href="/crear-curso" class="nav-link">Crear curso</a>
            </li>
            {{/unless}}
            <li class="nav-item">
                <a href="/cursos" class="nav-link">Ver cursos</a>
            </li>
            <li class="nav-item">
                <a href="/registro" class="nav-link">Registrarme</a>
            </li>
            {{#unless ex}}
                <li class="nav-item">
                    <a href="/inscrbir" class="nav-link">Inscribir</a>
                </li>
            {{/unless}}
            
            <li class="nav-item">
                <a class="nav-link" href="/listado">Ver inscritos</a>
            </li>
            </ul>
        </div>
    </nav>
        
