{{>header}}

<div class="container text-center">
    {{{crearCurso nombre id valor modalidad intensidad}}}
    <p>Esta es la lista de cursos existentes hasta la fecha</p>
    {{{listarCursos}}}
</div>
{{>footer}}