
{{>header}}
<div class="container">
    <h2 class="text-center">Inicio Sesión</h2>

    <form action="/login2" method="post">
       
            <div class="col">
                <input type="text" class="form-control" placeholder="Documento de identidad" name="doc_identidad" required>
            </div>
       
        <div class="text-center">
            <button class="btn btn-primary">Iniciar</button>
        </div>
        
    </form>
</div>
{{>footer}}




