{{>header}}
<div class="container">
    <h2 class="text-center">Formulario de registro</h2>

    <form action="/registrado" method="post">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Documento de identidad" name="doc_identidad"
                    required>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Nombre" name="nombre" required>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input type="email" name="correo" class="form-control" placeholder="Correo electrónico" required>
            </div>
            <div class="col">
                <input type="tel" class="form-control" placeholder="Teléfono" name="telefono" required>
            </div>
        </div>


<div class="text-center">
    <button class="btn btn-primary">Registrarme</button>
</div>

</form>
</div>
{{>footer}}